body {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.container {
    $size: 100vh;
    display: flex;
    height: $size;
    width: $size;
}

.column-container{
    $size :100px;
    display: flex;
    height: 100vh;
    width: $size;;
    margin: 0 1px;
    flex-direction: column;
    flex-grow: 0;
}

.box {
    flex: content;
    background-color: rgb(94, 255, 0);
    height: 100px;
    margin: 1px 0;
    flex: auto;


}

.color-change {
    background-color: black
}

