body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #D2CBCB;
    height: 100vh;
    justify-content: space-around;

}

.left, .right{
    display: flex;
    font-size: 26px;
    width:100%;
}
.right {
    flex-direction: column;
    justify-content: space-between;
    
    
    h1 {
        text-align: center;
    }
    
}
.left {
    justify-content: center;
    align-items: flex-start;}


.container {
    display: flex;
    align-self: center;
    height: 95vh;
    width: 100vh;
    border: 5px solid black;
    border-radius: 7px;
    align-items: center;
}

.column-container{
    display: flex;
    height: 95vh;
    width: 100px;
    margin: 0 1px;
    flex-direction: column;
    flex-grow: 0;
}

.box {
    background-color: rgb(255, 255, 255);
    height: 100px;
    margin: 1px 0;
    flex: auto;
    transition: .15s;

}

.color-change {
    background-color: black
}

$scale: 1.1;
.settings-container{
    display: flex;
    position: sticky;
    top: 26%;
    left:50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  

    hr {
        height: 1px;
        width: 100px;
        background-color: grey;
        border: none;
        margin: 1rem;
        border-radius: 5px;
    }

    > * {
        display: flex;
        align-items: center;
        flex-direction: column;
        
        > * {
            margin: .15rem;
        }
    }
    button{
        cursor: pointer;
        transition: .1s ease-out    ;
        padding: .5rem 1rem;
        font-size: 24px;
        border-radius: 5px;
        border-width: 2px;
    }

    button:hover {
        transform: scale($scale);
    }

}

.button-active {
    background-color: grey;
    transform: scale($scale);
}


.grid-input-number {
    text-align: center;
    width: 45px;
}

.grid-input-range {
    accent-color: grey;
}